<div class="container">
    <div class="row">
      <br>
      <div class="col s12">
          <a [routerLink]="['/paginainicial']"  class="waves-effect waves-light btn"><i class="material-icons left">keyboard_arrow_left</i>Voltar</a>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{pergunta.title}}</span>
          <p>{{pergunta.description}}</p>
        </div>
        <div class="card-action">
          <hr>
          <a href="#" class="waves-effect waves-teal btn-flat black-text"><i class="medium material-icons left">account_circle</i> Feita por <b>{{pergunta.user.name}}</b></a>
        </div>
      </div>
    </div>

    <div class="row">
      <h5>Respostas</h5>

      <form>
        <div class="row">
          <div class="input-field col s9">
            <i class="material-icons prefix">comment</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">First Name</label>
          </div>
        </div>
      </form>

      <ul class="collection">
          <li class="collection-item avatar" *ngFor="let resposta of pergunta.comments">
            <div class="circle primary-color"></div>
            <span class="title">{{resposta.user.name}}</span>
            <p>
              {{resposta.comment}}
            </p>
          </li>
      </ul>
    </div>
</div>
