<div class="container">
  <br>
  <div class="row">
      <h5 class="center-align" style="font-weight: bolder">Seja bem vindo, {{usuario.name}}.</h5>
  </div>
  <div class="row">
    <blockquote>
      <p class="flow-text">
        {{ultimoAviso.message}}
      </p>
    </blockquote>
  </div>
  <div class="row">
      <h6 class="center-align">Clique para fazer uma nova pergunta.</h6>
  </div>
  <div class="row center-align">
    <a [routerLink]="['/cadastropergunta']" class="btn-floating btn-large light-blue darken-4 pulse">
      <i class="material-icons">add</i>
    </a>
  </div>

  <br>
  <app-feed></app-feed>
</div>
